<head>
    <title>TinyApp</title>
</head>

 <form method="POST" action="/login" style="margin:10px;">
    <label for = "username">name:</label>
    <input id ="username" type="text" name="username" value="username" placeholder= "Enter a login name.">
    <button type='submit'>Sign In</button>
</form> 
    