<head>
    <title>TinyApp</title>
</head>

<% if (user) { %>
    <p> Logged in as <%=user.email%>
    <form method="POST" action="/logout" style="margin:10px;">
        <button type='submit'>Log Out</button></p>
    </form>
<% } else { %>
    <form method="POST" action="/login" style="margin:10px;">
        <label for = "user_id">name:</label>
        <input id ="user_id" type="text" name="user_id" placeholder= "Enter a login ID.">
        <button type='submit'>Sign In</button>
    </form> 
<% } %>