<head>
    <title>TinyApp</title>
</head>

<% if (user) { %>
    <p> Logged in as
        <%=user.email%>
            <form method="POST" action="/logout" style="margin:10px;">
                <button type='submit'>Log Out</button></p>
    </form>
    <% }
else { %>
        <p>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        </p>
        <% } %>