<!DOCTYPE html>
<html lang="en">

<body style="font-size:20px; padding:20px;">
    <p>
        Error 400. Bad, bad, bad request. Try again.
    </p>
    <a href="/register">Login!</a>
</body>

</html>