<!DOCTYPE html>
<html lang="en">
<%- include ./partials/_header %>
  <body style="font-size:20px; padding:20px;">
    <form action="/register" method="POST" style="margin:30px;">
      <p>
        <label for="email">Email:</label>
      <input id="email" type="email" name="email" placeholder="example@google.com" style="width: 300px">
      </p>
      <p>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="********" style="width: 300px">
        <button type="submit">Submit</button>
      </p>
      </form>
  </body>
</html>