<!DOCTYPE html>
<html lang="en">
    <%- include ./partials/_header %>
<body>
    <ul>
    <li> <% for(var key in urls) { %>
    <%= key %>
    <%= urls[key] %>
    <form method="POST" action="/urls/<%=key%>/delete" style="margin:10px;">
        <button type='submit'>DELETE</button>
    <form method="POST" action="" style="margin:10px;">
        <button type='submit'>UPDATE</button>
    </li> 
    </form> 
    <% } %>

    </ul>
    <a href="/urls/new">Make new Short URL</a>  
</body>

</html>